<button id="popup-button-l" class="popup-two-button">
    <% if (obj.btnIconL) { %>
    <span class="icon <%- btnIconL %>"></span>
    <% } %>
    <%- btnTitleL %>
</button>
<button id="popup-button-r" class="popup-two-button">
    <% if (obj.btnIconR) { %>
    <span class="icon <%- btnIconR %>"></span>
    <% } %>
    <%- btnTitleR %>
</button>