<div class="popup-body <%- popupClass %>">
    <div class="popup-header">
        <% if (obj.title) { %><h2><%- title %></h2><% } %>
        <% if (!obj.hideCloseBtn) { %><button class="<%- closeBtnClass %> icon <%- closeBtnIcon %>" id="popup-close-btn" title="close">X</button><% } %>
    </div>
    <div class="popup-content <%- contentClass %>"></div>
    <div class="popup-footer"></div>
</div>