<div>
	<button type='button' class='btn'>
		<span class='<%- refreshIcon %>'></span>
        <span class='hide-text'>Refresh</span>
	</button>
	<span>
		<span class='<%- labelClass %>'><%- label %></span>
		<%- time %>
	</span>
</div>