@font-face {
    font-family: "app-icons";
    src: url("app-icons.eot");
    src: url("app-icons.eot?#iefix") format("embedded-opentype"), url("app-icons.woff") format("woff"), url("app-icons.ttf") format("truetype"), url("app-icons.svg#app-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'app-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-finalicons-B-23:before {
	content: "\e600";
}
.icon-finalicons-B-24:before {
	content: "\e601";
}
.icon-finalicons-B-25:before {
	content: "\e602";
}
.icon-finalicons-B-26:before {
	content: "\e603";
}
.icon-finalicons-B-27:before {
	content: "\e604";
}
.icon-finalicons-B-28:before {
	content: "\e605";
}
.icon-finalicons-B-14:before {
	content: "\e606";
}
.icon-finalicons-B-15:before {
	content: "\e607";
}
.icon-finalicons-B-16:before {
	content: "\e608";
}
.icon-finalicons-B-17:before {
	content: "\e609";
}
.icon-finalicons-B-18:before {
	content: "\e60a";
}
.icon-finalicons-B-19:before {
	content: "\e60b";
}
.icon-finalicons-B-20:before {
	content: "\e60c";
}
.icon-finalicons-B-21:before {
	content: "\e60d";
}
.icon-finalicons-B-22:before {
	content: "\e60e";
}
.icon-finalicons-B-03:before {
	content: "\e60f";
}
.icon-finalicons-B-04:before {
	content: "\e610";
}
.icon-finalicons-B-05:before {
	content: "\e611";
}
.icon-finalicons-B-06:before {
	content: "\e612";
}
.icon-finalicons-B-07:before {
	content: "\e613";
}
.icon-finalicons-B-08:before {
	content: "\e614";
}
.icon-finalicons-B-09:before {
	content: "\e615";
}
.icon-finalicons-B-10:before {
	content: "\e616";
}
.icon-finalicons-B-11:before {
	content: "\e617";
}
.icon-finalicons-B-12:before {
	content: "\e618";
}
.icon-finalicons-B-13:before {
	content: "\e619";
}
.icon-finalicons-B-01:before {
	content: "\e61a";
}
.icon-finalicons-B-02:before {
	content: "\e61b";
}
.icon-finalicons-A-96:before {
	content: "\e61c";
}
.icon-finalicons-A-84:before {
	content: "\e61d";
}
.icon-finalicons-A-85:before {
	content: "\e61e";
}
.icon-finalicons-A-86:before {
	content: "\e61f";
}
.icon-finalicons-A-87:before {
	content: "\e620";
}
.icon-finalicons-A-88:before {
	content: "\e621";
}
.icon-finalicons-A-89:before {
	content: "\e622";
}
.icon-finalicons-A-90:before {
	content: "\e623";
}
.icon-finalicons-A-91:before {
	content: "\e624";
}
.icon-finalicons-A-92:before {
	content: "\e625";
}
.icon-finalicons-A-93:before {
	content: "\e626";
}
.icon-finalicons-A-94:before {
	content: "\e627";
}
.icon-finalicons-A-95:before {
	content: "\e628";
}
.icon-finalicons-A-73:before {
	content: "\e629";
}
.icon-finalicons-A-74:before {
	content: "\e62a";
}
.icon-finalicons-A-75:before {
	content: "\e62b";
}
.icon-finalicons-A-76:before {
	content: "\e62c";
}
.icon-finalicons-A-77:before {
	content: "\e62d";
}
.icon-finalicons-A-78:before {
	content: "\e62e";
}
.icon-finalicons-A-79:before {
	content: "\e62f";
}
.icon-finalicons-A-80:before {
	content: "\e630";
}
.icon-finalicons-A-81:before {
	content: "\e631";
}
.icon-finalicons-A-82:before {
	content: "\e632";
}
.icon-finalicons-A-83:before {
	content: "\e633";
}
.icon-finalicons-A-61:before {
	content: "\e634";
}
.icon-finalicons-A-62:before {
	content: "\e635";
}
.icon-finalicons-A-63:before {
	content: "\e636";
}
.icon-finalicons-A-64:before {
	content: "\e637";
}
.icon-finalicons-A-65:before {
	content: "\e638";
}
.icon-finalicons-A-66:before {
	content: "\e639";
}
.icon-finalicons-A-67:before {
	content: "\e63a";
}
.icon-finalicons-A-68:before {
	content: "\e63b";
}
.icon-finalicons-A-69:before {
	content: "\e63c";
}
.icon-finalicons-A-70:before {
	content: "\e63d";
}
.icon-finalicons-A-71:before {
	content: "\e63e";
}
.icon-finalicons-A-72:before {
	content: "\e63f";
}
.icon-finalicons-A-49:before {
	content: "\e640";
}
.icon-finalicons-A-50:before {
	content: "\e641";
}
.icon-finalicons-A-51:before {
	content: "\e642";
}
.icon-finalicons-A-52:before {
	content: "\e643";
}
.icon-finalicons-A-53:before {
	content: "\e644";
}
.icon-finalicons-A-54:before {
	content: "\e645";
}
.icon-finalicons-A-55:before {
	content: "\e646";
}
.icon-finalicons-A-56:before {
	content: "\e647";
}
.icon-finalicons-A-57:before {
	content: "\e648";
}
.icon-finalicons-A-58:before {
	content: "\e649";
}
.icon-finalicons-A-59:before {
	content: "\e64a";
}
.icon-finalicons-A-60:before {
	content: "\e64b";
}
.icon-finalicons-A-37:before {
	content: "\e64c";
}
.icon-finalicons-A-38:before {
	content: "\e64d";
}
.icon-finalicons-A-39:before {
	content: "\e64e";
}
.icon-finalicons-A-40:before {
	content: "\e64f";
}
.icon-finalicons-A-41:before {
	content: "\e650";
}
.icon-finalicons-A-42:before {
	content: "\e651";
}
.icon-finalicons-A-43:before {
	content: "\e652";
}
.icon-finalicons-A-44:before {
	content: "\e653";
}
.icon-finalicons-A-45:before {
	content: "\e654";
}
.icon-finalicons-A-46:before {
	content: "\e655";
}
.icon-finalicons-A-47:before {
	content: "\e656";
}
.icon-finalicons-A-48:before {
	content: "\e657";
}
.icon-finalicons-A-25:before {
	content: "\e658";
}
.icon-finalicons-A-26:before {
	content: "\e659";
}
.icon-finalicons-A-27:before {
	content: "\e65a";
}
.icon-finalicons-A-28:before {
	content: "\e65b";
}
.icon-finalicons-A-29:before {
	content: "\e65c";
}
.icon-finalicons-A-30:before {
	content: "\e65d";
}
.icon-finalicons-A-31:before {
	content: "\e65e";
}
.icon-finalicons-A-32:before {
	content: "\e65f";
}
.icon-finalicons-A-33:before {
	content: "\e660";
}
.icon-finalicons-A-34:before {
	content: "\e661";
}
.icon-finalicons-A-35:before {
	content: "\e662";
}
.icon-finalicons-A-36:before {
	content: "\e663";
}
.icon-finalicons-A-12:before {
	content: "\e664";
}
.icon-finalicons-A-13:before {
	content: "\e665";
}
.icon-finalicons-A-14:before {
	content: "\e666";
}
.icon-finalicons-A-15:before {
	content: "\e667";
}
.icon-finalicons-A-16:before {
	content: "\e668";
}
.icon-finalicons-A-17:before {
	content: "\e669";
}
.icon-finalicons-A-18:before {
	content: "\e66a";
}
.icon-finalicons-A-19:before {
	content: "\e66b";
}
.icon-finalicons-A-20:before {
	content: "\e66c";
}
.icon-finalicons-A-21:before {
	content: "\e66d";
}
.icon-finalicons-A-22:before {
	content: "\e66e";
}
.icon-finalicons-A-23:before {
	content: "\e66f";
}
.icon-finalicons-A-24:before {
	content: "\e670";
}
.icon-finalicons-A-03:before {
	content: "\e671";
}
.icon-finalicons-A-04:before {
	content: "\e672";
}
.icon-finalicons-A-05:before {
	content: "\e673";
}
.icon-finalicons-A-06:before {
	content: "\e674";
}
.icon-finalicons-A-07:before {
	content: "\e675";
}
.icon-finalicons-A-08:before {
	content: "\e676";
}
.icon-finalicons-A-09:before {
	content: "\e677";
}
.icon-finalicons-A-10:before {
	content: "\e678";
}
.icon-finalicons-A-11:before {
	content: "\e679";
}
.icon-finalicons-A-01:before {
	content: "\e67a";
}
.icon-finalicons-A-02:before {
	content: "\e67b";
}
