<!-- Wrapper for slides -->
<div class="carousel-section carousel-left-section"></div>
<div class="carousel-section carousel-inner" role="listbox"></div>
<div class="carousel-section carousel-right-section"></div>
<!-- Controls -->
<button class="left carousel-control" role="button" data-slide="prev">Previous</button>
<button class="right carousel-control" role="button" data-slide="next">Next</button>