/* AjaxLoader Widget */

.ajax-loading {
    z-index: 9999999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.3;
}

.ajax-loading .loader-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
}

.ajax-loading .loading {
    background: image-url('ajax-loader.gif', false, false);
    background-size: 46px 46px;
}

/* */

/* Tab Layout View */

/* */

/* Popup Layout View */

/* */

/* EULA View */

.lv-eula-body {
    overflow: scroll;
    .navbar-brand {
        padding: 3px 5px;
    }
}

.lv-eula-content {
    padding: 60px 20px 50px 20px;
    height: 100%;
}

.lv-eula-footer {
    height: 40px !important;
    box-shadow: #555 -10px 0 3px;

    a {
        height: 40px;
        display: block;
        line-height: 40px;
        background-color: #efefef;
        color: #555;
        text-decoration: none;
        &:focus {
            background-color: #bebec5;
        }
    }

}

.lv-eula-logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    vertical-align: bottom;
}

/* AjaxLoader Widget */

.ajax-loading {
    z-index: 9999999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.3;
}

.ajax-loading .loader-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
}

.ajax-loading .loading {
    background: image-url('ajax-loader.gif', false, false);
    background-size: 46px 46px;
}

/* */

/* Tab Layout View */

/* */

/* Popup Layout View */

/* */

/* EULA View */

.lv-eula-body {
    overflow: scroll;
    .navbar-brand {
        padding: 3px 5px;
    }
}

.lv-eula-content {
    padding: 60px 20px 50px 20px;
    height: 100%;
}

.lv-eula-footer {
    height: 40px !important;
    box-shadow: #555 -10px 0 3px;

    a {
        height: 40px;
        display: block;
        line-height: 40px;
        background-color: #efefef;
        color: #555;
        text-decoration: none;
        &:focus {
            background-color: #bebec5;
        }
    }

}

.lv-eula-logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    vertical-align: bottom;
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 3;

    .popup-body {
        background-color: #fff;
        -moz-box-shadow: 0 0 10px #000;
        -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
        height: 100%;
        opacity: 1;
        padding: 0px;
        position: relative;
        width: 100%;
    }

    .popup-header {
        h2 {
            background-color: #000;
            color: #fff;
            font-size: 24px;
            line-height: 48px;
            margin: 0;
            text-align: center;
        }
        button {
            background-color: transparent;
            border: 0;
            color: #000;
            font-size: 20px;
            font-weight: bold;
            height: 48px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
            z-index: 1;

            &.title-close {
                color: #fff;
            }

            &.icon:before {
                display: inline-block;
                font-size: 24px;
                height: 48px;
                line-height: 48px;
                width: 48px;
            }
        }
    }

    .popup-content {
        bottom: 48px;
        font-size: 17px;
        left: 0;
        overflow-y: auto;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;

        &.header-size {
            top: 48px;
        }
        &.popup-two-button {
            bottom: 96px;
        }
    }

    .popup-footer {
        bottom: 0;
        display: table;
        position: absolute;
        width: 100%;

        button {
            background-color: #eeeeee;
            border: 1px solid #000;
            color: #000;
            display: block;
            font-size: 20px;
            height: 48px;
            position: relative;
            width: 100%;

            &.popup-two-button {
                display: table-cell;
                width: 50%;
            }
            .icon {
                display: inline-block;
                font-size: 19px;
                left: 0;
                line-height: 48px;
                height: 48px;
                position: absolute;
                top: 0;
                width: 48px;
            }
        }
    }
}

/* */


/* Refresh View */

$min-button-height: 48px;
$refresh-dark: #333333;
$refresh-light: #ffffff;

.refresh-widget {
    max-width: 100%;
    min-width: $min-button-height;
    max-height: 100%;
    min-height: $min-button-height;
    display: inline-table;
    box-sizing: content-box;
    width: 100%;

    button {
        border-radius: 0px;
        background: inherit;
        display: table-cell;
        max-height: inherit;
        min-height: inherit;
        min-width: $min-button-height;
        color: inherit;
        overflow: hidden;

        &:hover {
            background-color: $refresh-dark;
            span {
                color: $refresh-light;
            }
        }

        span {
            font-size: $min-button-height/2;
        }

        & + span {
            display: table-cell;
            vertical-align: middle;
            padding: 5px;
            width: 100%;

            span {
                display: table-cell;
            }

            span.bold {
                font-weight: bold;
            }
        }
    }
}

.refresh-widget.invert {
    color: $refresh-light;
    background: $refresh-dark;

    button {
        span {
            color: $refresh-light;
        }
        &:hover {
            color: $refresh-dark;
            background-color: $refresh-light;
            span {
                color: $refresh-dark;
            }
        }
    }
}

.hide-list {
    position: absolute;
    left: -200px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* */

/* My List */
.mylist-container {

    padding: 5px;

    [disabled]{
        opacity: 0.65;
    }

    a {
        text-decoration: none;
    }

    button {
        border-radius: 0px;
        background: #efefef;
        border: 1px solid #333333;
        color: #333333;
    }

    .mylist-header-btn {
        margin-right: 5px;
        font-size: 1.75em;
        color: #333333;
        border: 0px;
        background: none;
        padding: 5px;

        &:hover, &.active {
            opacity: inherit;
        }
    }

    .mylist-heading {
        font-size: 16px;
        font-weight: bold;
    }

    .filter-item-container {
        margin-bottom: 5px;
    }
}

.mylist-name {
    padding-left: 5px;
}

.update-results {
    margin: 0 auto;
    display: block;
    width: 33%;
    max-width: 250px;
}

.my-list-region {
    margin-top: 20px;

    button {
        font-size: 1em;
        padding: 0px;
        height: 48px;
        width: 48px;
        background: none;
    }
}

.mylist-result-controls {
    color: #FFFFFF;
    padding: 0px;
    border: 2px solid #333333;
    background: #333333;
    margin: 0px;

    h5 {
        line-height: 28px;
    }

    button {
        border: 0 none;
        color: #ffffff;

        &.forward-btn {
            -ms-transform: translate(0%,-180deg); /* IE 9 */
            -webkit-transform: translate(0%,-180deg); /* Chrome, Safari, Opera */
            transform: translateX( 0% ) rotateY( -180deg );
        }

    }
}

.mylist-results {
    .mylist-patient {
        width: 100%;
        font-size: 16px;
        line-height: 100%;
        border: 1px solid #333333;
        border-top: none;
        background: none;

        &:hover {
            opacity: 1.0;
        }

        div:last-of-type {
            line-height: 33px;
        }
    }
}

.mylist-number-icon {
    line-height: 100%;
    font-size: 33px;
}

$background-color: #fff;

.hidden {
    display: none;
}

.border-none {
    border: 0 none;
}

.modal-dialog {
    .modal-content {
        padding-top: 25px;
    }
    .row {
        margin: 0;
    }
}

button.popup-close {
    color: #666666;
    height: 48px;
    opacity: 1;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 48px;
    z-index: 1;

    .close-icon {
        font-size: 30px;
    }
}

.square-parent {
    border-radius: 7px;
    border: 3px solid #666;
    font-size: 12px;
    background-color: #fff;
    color: #fff;
    height: 23px;
    text-align: center;
    width: 23px;
    position: relative;
    right: 10px;

    &.checked {
        background-color: #000;
    }

    button {
        background: none;
        border: 0 none;
        color: $background-color;
        height: 100%;
        line-height: 1;
        padding: 0;
        width: 100%;
    }
}

.patient-detail-modal {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;

    .modal-content {
        border-radius: 0;
        margin: auto;
        max-width: 350px;
    }
}

.note-label {
    display: block;
    margin-bottom: 5px;
}

.note-box {
    margin-bottom: 5px;
    resize: none;
    width: 99%;
}

.patient-lists {
    padding: 5px 0;

    [class*=" col-xs-"],
    [class^="col-xs-"] {
        padding-bottom: 10px;
    }

    .col-xs-3 {
        font-size: 40px;

        &:before {
            vertical-align: top;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.note-section {
    .note {
        position: relative;
    }

    .row {
        margin-bottom: 5px;
        padding-top: 10px;

        .list-name {
            line-height: 23px;
        }

        .edit-note {
            background: none;
            font-size: 20px;
            height: 48px;
            padding: 5px;
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
        }
    }
}

.btn-link {
    border: 0;
    color: #fff;
    background-color: #666;
    display: block;
    font-size: 20px;
    height: 48px;
    margin: 5px 0;
    padding: 0;
    position: relative;
    width: 100%;

    &:hover, &:focus {
        background-color: #666;
        color: #fff;
        text-decoration: none;
    }

    &:disabled {
        background-color: #666;
        color: #999;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &.update-patient-mylist {
        margin-top: 15px;
    }

    i {
        font-size: 35px;
        height: 100%;
        left: 0;
        line-height: 48px;
        position: absolute;
        top: 0;
        width: 48px;
    }
}

#mylist-options {
    .note {
        padding: 0 10px;
    }
}

/* Cover Sheet */

$safe-dim-gray: #dddddd;
$safe-bold-purple: #8C39AD;
$safe-salmon-box: #FFD4D0;

#cover-region {
  padding-bottom: 30px;
}

#cover-menu {
  /* Desktop */
  .nav-pills {
    float: left;
    border-right: 1px solid #ddd;
    border-bottom: 0;

    li {
      width: 100%;
      float: none;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      background-color: #dddddd;

      a {
        min-width: 74px;
        margin-bottom: 3px;
        color: $safe-bold-purple;
        margin-right: -1px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        &:hover, &:focus {
          background-color: $safe-salmon-box;
        }
      }

      &.active {
        a {
          background-color: $safe-salmon-box;
        }
      }
    }

    .nav-pills .active {
      a, a:hover, a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
      }
    }
  }
  /* Mobile */
  .panel-group {
    border-radius: 0px;
    .panel {
      border-radius: 0px;
      .panel-heading {
        border-radius: 0px;
        border-right: 0px;
        color: $safe-bold-purple;
        background-color: $safe-dim-gray;
        display: block;
        cursor: pointer;
      }
      a:focus {
        text-decoration: none;
      }
    }
  }

  .tab-content {
    padding-top: 0px;
  }

  .tab-pane {
    display: none;
  }

  .active {
    display: block;
  }
}

.coversheet-title {
    border-bottom: 2px solid #ddd;
    margin-top: 0;
    padding: 10px 0;
    text-align: center;
}

#contactTab{
  label{
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  textarea {
    height: 25px;
    border-style: none;
    resize: none;
  }
}

#medications {
  color: $safe-bold-purple;
}

.carousel {
    min-height: 96px;
    padding: 0 50px;

    .carousel-section {
        display: inline-block;
        vertical-align: top;
    }

    .carousel-control {
        background: none;
        border: 0;
        border-bottom: 48px solid transparent;
        border-top: 48px solid transparent;
        height: 0;
        opacity: 1;
        overflow: hidden;
        padding: 0;
        top: calc(50% - 48px);
        width: 0;

        &.left {
            border-right: 40px solid #666;

            &:disabled {
                border-right-color: #bbb;
            }
        }

        &.right {
            border-left: 40px solid #666;

            &:disabled {
                border-left-color: #bbb;
            }
        }
    }
}

/* */
