@charset "UTF-8";

@font-face {
  font-family: "mylist-icon-font";
  src:url("fonts/mylist-icon-font.eot");
  src:url("fonts/mylist-icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/mylist-icon-font.woff") format("woff"),
    url("fonts/mylist-icon-font.ttf") format("truetype"),
    url("fonts/mylist-icon-font.svg#mylist-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="binary-icon-"]:before,
[class*=" binary-icon-"]:before {
  font-family: "mylist-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.binary-icon-0:before {
  content: "\e601";
}
.binary-icon-1:before {
  content: "\e602";
}
.binary-icon-2:before {
  content: "\e603";
}
.binary-icon-3:before {
  content: "\e606";
}
.binary-icon-4:before {
  content: "\e604";
}
.binary-icon-5:before {
  content: "\e607";
}
.binary-icon-6:before {
  content: "\e609";
}
.binary-icon-7:before {
  content: "\e60e";
}
.binary-icon-8:before {
  content: "\e605";
}
.binary-icon-9:before {
  content: "\e608";
}
.binary-icon-10:before {
  content: "\e60a";
}
.binary-icon-11:before {
  content: "\e60d";
}
.binary-icon-12:before {
  content: "\e60b";
}
.binary-icon-13:before {
  content: "\e60c";
}
.binary-icon-14:before {
  content: "\e60f";
}
.binary-icon-15:before {
  content: "\e600";
}
.binary-icon-mylist:before { /*redundant wrapper name*/
  content: "\e600";
}

