<div>
	<div class="col-xs-1">
    	<div aria-checked="<%- isActive() %>" class="square-parent <%- activeClass() %>">
      		<button id="option-<%- index %>" tabindex="0" role="checkbox" aria-live="polite" aria-label="Checkbox to see all patients on <%- name %> list." aria-checked="<%- isActive() %>" class="square-child">&nbsp;&#x2713;&nbsp;</button>
    	</div>
	</div>
	<div class="col-xs-10 mylist-name">
		<%- name %>
	</div>
</div>