<div>
	<div class="col-xs-1 no-padding">
    	<div class="filter-item">
      		<a id="option-<%- index %>" tabindex="0" href="" role="checkbox" aria-live="polite" aria-label="Checkbox to see all patients on <%- name %> list." aria-checked="<%- isActive() %>" class="square-child <%- activeClass() %>">&nbsp;&#x2713;&nbsp;</a>
    	</div>
	</div>
	<div class="col-xs-10">
		<input type="text" value="<%- name %>"></input>
	</div>
</div>