
<div>
  <div id="filter-region">
    <div id="filter-item-view">
      <div class="row">
        <div class="col-xs-6 mylist-heading">
          <span class="trueAria" id="titleShow">Show</span>
          <span id="empty"></span>
        </div>
        <div class="col-xs-4 pull-right text-right mylist-icons">
          <button id="edit" class="icon-finalicons-B-08 mylist-header-btn" aria-label="Click to Edit">
              <span class="hide-text">Edit MyList Titles</span>
          </button>
          <button id="save" class="icon-finalicons-B-18 mylist-header-btn disabled" aria-label="Click to Save">
              <span class="hide-text">Save MyList Titles</span>
          </button>
          <% if(closeBtn) { %>
            <button id="close" class="icon-finalicons-A-31 mylist-header-btn" aria-label="Click to Close">
                <span class="hide-text">Close MyList</span>
            </button>
          <% } %>
        </div>
      </div>
      <div id="my-list-filter-region"></div>
    </div>
  </div>
  <div id="my-list-region" class="my-list-region"></div>
</div>