<div class="modal modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog popup-dialog patient-detail-modal">
        <div class="modal-content">
            <div id="modalBox">
                <button tabindex="0" class="popup-close close" data-dismiss="modal">
                    <span aria-hidden="true" class="close-icon icon-finalicons-A-31"></span>
                    <span class="sr-only">Close</span>
                </button>
                <div id="patient-dialog-data" >
                    <div class="row">
                        <div class="col-xs-3">Last</div>
                        <div class="col-xs-8 right-col"><b><%- lastName %></b></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">First</div>
                        <div class="col-xs-8 right-col"><b><%- firstName %></b></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">DOB</div>
                        <div class="col-xs-8 right-col">
                            <b><%- getDate() %></b>
                            <span class="age-dialog">Age &nbsp;<b><%- getAge() %></b></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">Gender</div>
                        <div class="col-xs-8 right-col"><b><%- gender %></b></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">Location</div>
                        <div class="col-xs-8 right-col"><b><%- wardLocation %></b></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">SSN</div>
                        <div class="col-xs-8 right-col"><b><%- ssn %></b></div>
                    </div>

                    <div class="patient-lists"></div>

                </div>

                <button tabindex="0" id="select-patient" class="btn-link">Select Patient</button>

                <button aria-label="Click to expand for my list options." tabindex="0" id="expand-mylist" class="btn-link collapsed expand-mylist" type="button" data-toggle="collapse" data-target="#mylist-options"><i class="binary-icon-mylist" aria-hidden="true"></i> <span id="mylist-btn-txt"><%- myListBtnText %></span></button>

                <div id="mylist-options" class="collapse out">
                    <div class="note-section"></div>

                    <button tabindex="0" role="button" id="update-patient-mylist" class="btn-link update-patient-mylist">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
