<div>
	<div class="mylist-number-icon col-xs-1 binary-icon-<%- myLists %>" aria-hidden="true">
	</div>
	<div class="col-xs-11 text-left" aria-label="<%- displayName %> <%- getMyListAriaLabel() %>">
		<%- displayName %>
	</div>
</div>