<div>
  <div class="mylist-result-controls row">
    <div class="col-xs-2 text-left">
      <button role="button" id="previous-btn-ml" tabindex="0" class="icon-finalicons-B-05 btn backward-btn" aria-label="View previous page of results">
          <span class="hide-text">Previous Page</span>
      </button>
    </div>
    <div class="col-xs-8 text-center">
      <h5>0 Results</h5>
    </div>
    <div class="col-xs-2 text-right">
      <button role="button" id="next-btn-ml" class="icon-finalicons-B-05 forward-btn btn" tabindex="0" aria-label="View next page of results">
          <span class="hide-text">Next Page</span>
      </button>
    </div>
  </div>
  <div id="patient-search-list">
    <div id="mylist-results" class="mylist-results">
    </div>
  </div>
</div>