<div class="drop-down-result row patient-name" >
  <a role="dialog" href="#" class="display-name" style="font-size: 20px;" aria-label="<%- displayName %><% if (exists) {%>. Exists in Database.<%}%>"><%- displayName %>
    <% if (exists) { %>
    <span class="icon icon-check h3 patient-exists" aria-hidden="true"></span>
    <% } %>
  </a>
</div>