<div class="note">
    <div class="row">
        <div class="col-xs-1">
            <div class="greater-checkbox">
                <div aria-checked="<%= selected %>" class="square-parent <% if (selected) { %> checked <% } %>">
                    <button aria-label="add patient to <%- name %>" id="option-<%- id %>" tabindex="0" role="checkbox"
                            aria-live="polite" class="square-child">&nbsp;&#x2713;&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="col-xs-8 mylist-name"><span class="list-name"><%- name %></span></div>
        <button tabindex="0" aria-label="Click to edit the Notes Section."
                class="<% if (!selected) { %> hidden <% } %> col-xs-1 btn edit-note patient-details-pencil-btn"
                id="edit-note-<%- id %>" title="Edit My List Note">
            <span class="hide-text">Edit My List Note</span>
            <i class="icon icon-finalicons-B-08" aria-hidden="true"></i>
        </button>
    </div>
    <div id="toggle-<%- id %>" class="note-area collapse <% if (selected) { %> in <% } else { %> out <% } %>">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <label class="note-label" for="note-<%- id %>"><%- getNoteLabel() %></label>
                <textarea tabindex="0" maxlength="<%- charLimit %>"
                          class="<% if (selected) { %> border-none <% } %> note-box" name="note" id="note-<%- id %>"
                          rows="4" <% if (selected) { %> disabled <% } %> ><%- note %></textarea>
            </div>
        </div>
    </div>
</div>
