<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<table class="table table-striped">
  <thead>
    <tr class="focusinto" tabindex="0">
      <th>Allergen</th>
      <th>Reaction</th>
      <th>Facility</th>
    </tr>
  </thead>
  <tbody class="allergyItems">
  <% if (allergy.length !== 0) {%>
    <% for(var i =0; i < allergy.length; i++) { %>
      <tr tabindex="0">
        <td>
          <span><%= allergy[i].substance %></span>
        </td>
        <td>
          <span><%= allergy[i].reaction %></span>
        </td>
        <td>
          <span><%= allergy[i].sourceSystem %></span>
        </td>
      </tr>
    <% } %>
  <% } else { %>
    <tr tabindex="0">
      <td><span>No Data Found</span></td>
      <td></td>
      <td></td>
    </tr>
  <% } %>
  </tbody>
</table>
