<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<table class="table table-striped">
  <thead>
    <tr class="focusinto" tabindex="0">
      <th>Facility / Clinic</th>
      <th>Provider</th>
      <th>Date / Time</th>
    </tr>
  </thead>
  <tbody class="appointmentItems">
  <% if (appointment.facilityName !== "No Data Found" && appointment.clinicName !== "No Data Found") {%>
    <% for(i = 0; i < appointment.length; i++) { %>
      <tr tabindex="0">
        <td>
          <span><%= appointment[i].facilityName %> / <%= appointment[i].clinicName %></span>
        </td>
        <td>
          <span><%= appointment[i].provider %></span>
        </td>
        <td>
          <span><%= appointment[i].appointmentStartDate %></span>
        </td>
      </tr>
    <% } %>
  <% } else {%>
    <tr tabindex="0">
      <td>
        <span>No Data Found</span>
      </td>
      <td></td>
      <td></td>
    </tr>
  <% } %>
  </tbody>
</table>
