<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<h4 class="focusinto" tabindex="0"><%- displayName%></h4>
<br />
<div tabindex="0" class="row" id="DOB">
  <div class="col-sm-3 col-xs-4">
    Date of Birth
  </div>
  <div class="col-sm-9 col-xs-8">
    <%-dateOfBirth%>
  </div>
</div>
<div tabindex="0" class="row" id="Gender">
  <div class="col-sm-3 col-xs-4">
    Gender
  </div>
  <div class="col-sm-9 col-xs-8">
    <%-gender%>
  </div>
</div>
<div tabindex="0" class="row" id="Work">
  <div class="col-sm-3 col-xs-4">
    Work
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(phoneNumberWork !== "()--") { %>
    <%-phoneNumberWork%>
    <% } else { %>
    No Data Found
    <% } %>
  </div>
</div>
<div tabindex="0" class="row" id="Home">
  <div class="col-sm-3 col-xs-4">
    Home
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(phoneNumberHome !== "()--") { %>
    <%-phoneNumberHome%>
    <% } else { %>
    No Data Found
    <% } %>
  </div>
</div>
<div tabindex="0" class="row" id="Cell">
  <div class="col-sm-3 col-xs-4">
    Cell
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(phoneNumberMobile !== "()--") { %>
    <%-phoneNumberMobile%>
    <% } else { %>
    No Data Found
    <% } %>
  </div>
</div>
<div tabindex="0" class="row" id="Pager">
  <div class="col-sm-3 col-xs-4">
    Pager
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(phoneNumberPager !== "()--") { %>
    <%-phoneNumberPager%>
    <% } else { %>
    No Data Found
    <% } %>
  </div>
</div>
<div tabindex="0" class="row" id="Email">
  <div class="col-sm-3 col-xs-4">
    Email Address
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(emailAddress !== "") { %>
    <%-emailAddress%>
    <% } else { %>
    No Data Found
    <% } %>

  </div>
</div>
<div tabindex="0" class="row" id="Location">
  <div class="col-sm-3 col-xs-4">
    Location
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(wardLocation !== "") { %>
    <%-wardLocation%>
    <% } else { %>
    No Data Found
    <% } %>
  </div>
</div>
<div tabindex="0" class="row" id="Address">
  <div class="col-sm-3 col-xs-4">
    Address
  </div>
  <div class="col-sm-9 col-xs-8">
    <% if(address.streetAddressLine1) { %>
      <%- address.streetAddressLine1 %> <br>
    <% } else { %>
    No Data Found <br>
    <% } %>
    <% if(address.streetAddressLine2) { %>
    <%- address.streetAddressLine2 %> <br>
    <% } else { %>
    No Data Found <br>
    <% } %>
    <% if(address.streetAddressLine3) { %>
    <%- address.streetAddressLine3 %> <br>
    <% } else { %>
    No Data Found <br>
    <% } %>
    <% if(typeof address.state !== "undefined") { %>
    <%- address.city %>, <%- address.state %>, <%- address.zip %>
    <% } else { %>
    No Data Found
    <% } %>
  </div>
</div>
<h4 tabindex="0">Next of Kin</h4>
<div tabindex="0" class="row" id="nok_label">
  <div class="col-sm-3 col-xs-4">
    Relationship
  </div>
  <div class="col-sm-9 col-xs-8">
    <%- nextOfKin.relationship %>
  </div>
</div>
<div tabindex="0" class="row" id="nok_Name">
  <div class="col-sm-3 col-xs-4">
    Name
  </div>
  <div class="col-sm-9 col-xs-8">
    <%- nextOfKin.name %>
  </div>
</div>
<div tabindex="0" class="row" id="nok_Phone">
  <div class="col-sm-3 col-xs-4">
    Phone
  </div>
  <div class="col-sm-9 col-xs-8">
    <%- nextOfKin.phoneNumber %>
  </div>
</div>
<br/>
<div tabindex="0">To update demographic data, contact the Health Eligibility Center: 1-800-929-8387</div>
