<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<table class="table table-striped">
    <thead>
    <tr class="focusinto" tabindex="0">
        <th>Facility</th>
        <th>Admission Date</th>
        <th>Discharge Date</th>
    </tr>
    </thead>
    <tbody class="appointmentItems">
    <% if (admission.length) { %>
    <% for(i = 0; i < admission.length; i++) { %>
    <tr tabindex="0">
        <td>
            <span><%= admission[i].facilityName %></span>
        </td>
        <td>
            <span><%= admission[i].admissionDate %></span>
        </td>
        <td>
            <span><%= admission[i].dischargeDate %></span>
        </td>
    </tr>
    <% } %>
    <% } else {%>
    <tr tabindex="0">
        <td>
            <span>No Data Found</span>
        </td>
        <td></td>
        <td></td>
    </tr>
    <% } %>
    </tbody>
</table>
