<div class="centered-content content-padding row" id="cover-menu">
  <div id="desktop-menu" class="<%- desktopClass %>">
    <% if (!customTabs) { %>
    <ul class="nav nav-pills nav-stacked col-sm-3" role="tablist" id="tab-menu">
      <% for (var i=0; i<tabs.length; i++) { %>
        <li class="cover-tab-container <%- tabs[i].get('id') %> <% if (i==0){ %>active<% }%>">
          <a href="#<%- tabs[i].get('id') %>Tab" role="tab" data-toggle="pill" class="cover-tab" aria-label="<%- tabs[i].get('label') %><% if (i==0){ %>, Active<% }%>"><%- tabs[i].get('label') %></a>
        </li>
      <% } %>
    </ul>
    <% } %>

    <!-- Tab panes -->
    <div class="tab-content <%- desktopTabClass %>" id="tab-info-container">
      <% for (var i=0; i<tabs.length; i++) { %>
        <div class="tab-pane <%- tabs[i].get('id') %>Tab <% if (i==0) { %>active<% } %>" id="<%- tabs[i].get('id') %>Tab"></div>
      <% } %>
    </div>
  </div>

  <% if (!customTabs) { %>
  <div class="panel-group visible-xs" id="mobile-menu" role="tablist" aria-multiselectable="false">
    <% for (var i=0; i<tabs.length; i++) { %>
      <div class="panel panel-default">
        <a class="<%- tabs[i].get('id') %> <% if (i==0){ %>active<% } else { %>collapsed<% } %> panel-heading" data-toggle="collapse" data-target="#<%- tabs[i].get('id') %>Collapse" role="tab" id="<%- tabs[i].get('id') %>Heading" aria-label="<%- tabs[i].get('label') %> Information<% if (i==0){ %>, Open<% }%>" tabindex="0">
          <h4 class="panel-title">
              <%- tabs[i].get('label') %>
          </h4>
        </a>
        <div id="<%- tabs[i].get('id') %>Collapse" class="panel-collapse collapse <% if (i==0){ %>in<% } %> <%- tabs[i].get('id') %>" role="tabpanel" aria-labelledby="contactHeading">
          <div class="panel-body <%- tabs[i].get('id') %>Tab">
          </div>
        </div>
      </div>
     <% } %>
  </div>
  <% } %>
</div>
