<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<table class="table table-striped">
  <thead>
  <tr class="focusinto" tabindex="0">
    <% for(var i = 0; i < 3; i++) { %>
    <th scope="col"><%= colHeaders()[i] %></th>
    <% } %>
  </tr>
  </thead>
  <tbody>
  <% if (dataRows().length !== 0) { %>
    <% for(var i = 0; i < dataRows().length; i++) { %>
    <tr tabindex="0">
      <% for(var inner = 0; inner < dataRows()[i].length; inner++) { %>
      <td>
        <span><%= dataRows()[i][inner] %></span>
      </td>
      <% } %>
    </tr>
    <% } %>
  <% } else { %>
    <tr tabindex="0">
      <td><span>No Data Found</span></td>
      <td></td>
      <td></td>
    </tr>
  <% } %>
  </tbody>
</table>
