<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<table class="table table-striped">
  <thead>
  <tr class="focusinto" tabindex="0">
    <th>Active</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% if(isDiagnosis()) { %>
    <% for(var i = 0; i < encounterDiagnosisICDCode.length; i++) { %>
    <tr tabindex="0">
      <td>
        <span><%= encounterDiagnosisICDCode[i].description %></span>
      </td>
      <td>
        <span><%= encounterDiagnosisICDCode[i].dateOnset %></span>
      </td>
    </tr>
    <% } %>
  <% } else { %>
    <tr tabindex="0">
      <td>No Data Found</td>
      <td></td>
    </tr>
  <% } %>
  </tbody>
</table>
