<% if (headers) { %>
<h4 class="coversheet-title"><%= label %></h4>
<% } %>
<table class="table table-striped">
    <thead>
    <tr class="focusinto" tabindex="0">
        <th>Description</th>
        <th>Date</th>
        <th>Facility</th>
    </tr>
    </thead>
    <tbody class="appointmentItems">
    <% if (surgery.length) { %>
    <% for(i = 0; i < surgery.length; i++) { %>
    <tr tabindex="0">
        <td>
            <span><%= surgery[i].procedure %></span>
        </td>
        <td>
            <span><%= surgery[i].procedureDate %></span>
        </td>
        <td>
            <span><%= surgery[i].facility %></span>
        </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr tabindex="0">
        <td>
            <span>No Data Found</span>
        </td>
        <td></td>
        <td></td>
    </tr>
    <% } %>
    </tbody>
</table>
